
/* Clases añadidas por mi */



/*INDEX*/

.img__fondo {
    background-image: url(../img/retro-synhwave80s.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.index__titulo {
    font-family: 'Bungee Spice', cursive;
    font-size: 9rem;
    text-align: center;
    margin-top: 15rem;
    text-decoration-line: overline underline;
    text-decoration-color: rgb(240, 120, 0);  
}

.index__parrafo {
    font-family: 'Titillium Web', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
    border-style: groove;
    border-width: 8px;
    border-color:  rgb(240, 120, 0);;
    padding: 1rem;
    text-shadow: 6px 6px 4px rgb(225, 0, 255);
}

.index__titulo--navbar {
    font-family: 'Bungee Spice', cursive;
    font-size: 1.25rem;
    text-decoration: none;
    margin-right: 1rem;
}

.boton-tienda{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 50px 0 30% 0;
}

.footer{
    width: 8%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;


}
.texto-footer{
    text-decoration: none;
    text-shadow: 7px 7px 5px rgb(225, 0, 255);

}

/* FIN INDEX*/


/*SHOP*/

.contenedor-estilo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 3rem;
    width: 70%;
    margin: auto;
    margin-bottom: 10rem;
}

.contenedor-carrito {
    width: 40%;
    margin: auto;
}

.titulo-shop {
    font-family: 'Bungee Spice', cursive;
    font-size: 4rem;
    width: 70%;
    text-align: center;
}

.titulo-carrito {
    font-family: 'Bungee Spice', cursive;
    font-size: 2.5rem;
    width: 500px;
    text-align: center;
}


.img-carrito {
    width: 80px;
    height: 80px;
}

.lista-carrito {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.5rem 0 1.5rem 0;
}

.datos-carrito {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.botones-carrito{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/*FIN SHOP*/

/*SOBRE NOSOTRXS*/
.sobrenos__titulo {
    font-family: 'Titillium Web', sans-serif;
    font-size: 3.5rem;
    margin: 6rem auto 4rem auto;
    text-align: center;
    background-color: #0d4e76;
}

.cont__sobrenos{
    width: 60%;
    margin: auto;
    background-color: #6db5e250;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sobrenos__elem {
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
    align-items: center;
}

.sobrenos__elem--b {
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
    align-items: center;
}

.sobrenos__elem--c {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.sobrenos__parrafo{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.8rem;
    text-align: justify;
    width: 50%;
    padding: 1rem 3rem 1rem 1rem;
}
.sobrenos__parrafo--b{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.8rem;
    text-align: justify;
    width: 50%;
    padding: 1rem 1rem 1rem 3rem;
}
.sobrenos__parrafo--c{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.8rem;
    text-align: justify;
    padding: 1rem;
}

.img__sobrenos {
    width: 700px;
}

.cont__sobrenos--b{
    width: 60%;
    margin: 3rem auto 3rem auto;
    background-color: #6db5e250;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*FIN SOBRE NOSOTRXS*/






/* FIN Clases añadidas por mi */

